/* This @import should be at the top, do not move below @tailwind, relative import won't work */
@import "./markdown.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #eee;
  font-family: "Manjari", sans-serif;
}

.container {
  width: 1200px;
  @apply mx-auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

p a[href] {
  @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600 outline-none;
}

.btn-in {
  @apply m-2 text-[18px];
}
.btn-hover {
  @apply h-12 m-2 p-3 hover:bg-gray-200 uppercase;
}

.btn {
  @apply inline-block bg-black text-white px-4 py-2 border border-white;
  font-family: Ubuntu;
}

.btn.secondary {
  @apply bg-white text-black border-black;
}

.article blockquote {
  padding: 1em;
  margin: 8px 0;
  margin-top: 8px;
  line-height: 1.5;
  border: 1px solid #ff4500;
  border-left-width: 1px;
  border-left-width: 6px;
  background-color: #f5f5f5;
  color: #333;
}

.article ol {
  list-style-type: lower;
}

.article ul {
  list-style-type: disc;
}

input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
