
{{ define "main" }}
<div class="my-20 md:m-20">
    <h1 class="text-5xl my-5">{{i18n "menu-media"}}</h1>
   
 
    <ul >
      {{ range .Pages }}
      
       
         
    <div class="w-full flex flex-col m-2 bg-white  h-full border-2 text-wrap" >

     
      
        <div class="w-full flex flex-col p-3  flex-wrap text-wrap ">

            <div class="px-5 ">
                {{ if  (eq .Params.feature "yes") }}
                <i class="fa-solid fa-crown"></i>
                <a  class=" shadow-sm py-5" href="{{ .Params.feature}}">FEATURED</a>
                {{ end }}
                </div>
            
          <a class="text-lg px-5 font-bold text-wrap hover:underline hover:text-violet-50" href="{{ .Params.link}}">{{ .Title }}</a>
          
            <div class="text-slate-700 p-5">{{ .Params.val }}</div>

<div class="flex ">
            
            <div class="px-5 ">
              {{ if not (eq .Params.archive "none") }}
                <i class="fa-solid fa-box-archive"></i>
            <a  class="hover:underline shadow-sm" href="{{ .Params.archive}}">ARCHIVE</a>
            {{ end }}
        </div>
    </div>

          
        </div>

    </div>
        
      {{ end }}
    </ul>
  </div>

{{ end }}