<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" async />

<div class="text-center mt-32 pb-4">
  <div class="flex flex-wrap justify-center ">
    
    {{ range .Site.Data.footer.links }}
    
    <a class="" href="{{ .url }}" target="_blank" rel="noopener noreferrer">
      <i class="{{ .icon }}  fa-2x text-slate-950 rounded-full p-3 shadow-lg  transition duration-300"></i>
      <!-- {{ .name }} -->
    </a>
    {{ end }}
    
  </div>

  <p class="m-7">
    {{ now.Format "2006" }} — <strong class="font-semibold">{{ i18n "smc" }}</strong><br>
    Unless otherwise stated, content is available under the<br>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="grey--text text--darken-1 underline">Creative Commons Attribution-ShareAlike License</a>.
  </p>
</div>

