
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />


    <!-- {{ with resources.GetMatch "fonts/**.css*" }}
      {{ $style := . | minify | fingerprint }}
      <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }} -->

    {{ range resources.Match "fonts/*.css" }}
      <link rel="stylesheet" href="{{ .Permalink }}">
    {{ end }}

    <title>
      Swathanthra Malayalam Computing | സ്വതന്ത്ര മലയാളം കമ്പ്യൂട്ടിങ്ങ്
    </title>
 
    {{ partial "head/css" }}


