
<div class="text-white bg-cyan-500 h-16 pl-3 flex items-center justify-between" >
  <div class="flex items-center" id="left">
    <div style="cursor:pointer; " >
        <a class="text-decoration-none" href="/" >
        <img style="width:50px;" src="/images/logo.png" alt="smc" class=" border-white font-semibold" ></a>
    
    </div>  

    <h1 class="block lg:hidden font-semibold pl-4 pt-2 text-xl text-white w-full">
      {{  i18n "smc-short"  }}
    </h1>
    <h1 class="hidden lg:block font-semibold px-4 py-3 text-xl text-white w-full"> 
      {{  i18n "smc"  }}
    </h1>
    </div>
      <div class="relative ">
        <button id="toggleTab" class="block lg:hidden bg-cyan-500 text-white px-4 py-2 rounded-lg border-none">
            <svg class="text-white w-20 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="cursor:pointer;">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        
        
      </div>
      <nav class="hidden lg:block">
        
        <div class="flex" id="menumain">
          {{- range site.Menus.main }}
          <a class=" font-bold menu m-2 py-3 px-1 hover:underline " href="{{ .URL }}" >
            {{.Name}}
          </a>
        {{ end }}
        
        <div class="dropdown ">
          <div class="menu m-2 py-3 px-1 text-center content-center font-bold  hover:underline " id="menumain">
            {{ i18n "menu-community" }}
          </div>
          <div class="dropdown-content ">
              <a class="about h-16 transition duration-300 uppercase w-full md:w-1/5 text-center content-center" href="/about">
                      <h2 class="hover:underline" >{{i18n "menu-about"}}</h2>
              </a>
              
              <a class="about h-16 transition duration-300 uppercase w-full md:w-1/5 text-center content-center" href="/contact">
                      <h2 class="hover:underline" >{{i18n "menu-contact"}}</h2>
              </a>
             
              <a class="about h-16 transition duration-300 uppercase w-full md:w-1/5 text-center content-center" href="/history">
                      <h2 class="hover:underline" >{{i18n "menu-history"}}</h2>
                  </a>
                  <a class="about h-16 transition duration-300 uppercase w-full md:w-1/5 text-center content-center" href="/people">
                      <h2 class="hover:underline" >{{i18n "menu-people"}}</h2>
                  </a>
              <a class="h-16 transition duration-300 uppercase w-full md:w-1/5 about text-center content-center" href="/code-of-conduct">
                      <h2 class="hover:underline" >{{i18n "menu-code-of-conduct"}}</h2>
                  </a>
          
              <a class="h-16 transition duration-300 uppercase w-full md:w-1/5 about  text-center content-center" href="/press-and-media">
                      <h2 class="hover:underline" >{{i18n "menu-media"}}  </h2>
                  </a>
              </button>
          </div>
        </div>

      </nav>
      
   
</div>
<div class="flex">
  <button class="absolute bg-white top-15 right-32 shadow-lg w-32 h-10 border  hover:border-cyan-500 transition duration-300" id="en" title="English">ENGLISH</button>
  <button class="absolute bg-white top-15 right-0 shadow-lg w-32 h-10 border  hover:border-cyan-500 transition duration-300" id="ml">മലയാളം</button>
  <!-- {{ range .Translations }}
  <button class="absolute bg-white top-15 right-0 shadow-lg w-32 h-10 border uppercase  hover:border-cyan-500 transition duration-300" id="en" >
  <a href="{{ .Permalink }}" class="topbar-buttons">{{ .Language.LanguageName }}</a>
  </button>
{{end}} -->
    
    
  </div>

  <div id="tabContent" class="hidden absolute bg-white top-15  right-0 shadow-md pl-12 pt-3 w-48 pb-3 ">
       
    {{- range site.Menus.main }}
      <div class="menu m-3 hover:underline" id="menumain">
        <a  href="{{ .URL }}">      {{.Name}}        </a>
      </div>
   
  {{ end }}
  <div class="dropdown-l ">
    <div class="menu mx-3  hover:underline" id="menumain">
        <a  href="/about">      {{i18n "menu-community"}}       </a>
      
    </div>
    <div class="dropdown-content-l ">
      <div class="menu mx-3  hover:underline" id="menumain">
        <a  href="/about">      {{i18n "menu-about"}}       </a>
      
    </div>
    <div class="menu mx-3  hover:underline" id="menumain">
      <a  href="/contact">      {{i18n "menu-contact"}}       </a>
    
  </div>
  <div class="menu mx-3  hover:underline" id="menumain">
    <a  href="/history">      {{i18n "menu-history"}}       </a>
  
</div>
<div class="menu mx-3  hover:underline" id="menumain">
  <a  href="/people">      {{i18n "menu-people"}}       </a>

</div>
<div class="menu mx-3  hover:underline" id="menumain">
  <a  href="/code-of-conduct">      {{i18n "menu-code-of-conduct"}}       </a>

</div>
<div class="menu mx-3  hover:underline" id="menumain">
  <a  href="/press-and-media">      {{i18n "menu-media"}}       </a>

</div>
 
    </div>
</div>

  </div>

  <style>
    .dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  
}
.dropdown-l {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -400px; /* Position the dropdown to the right */
  top: 100%; /* Position it just below the parent */
  min-width: 600px; /* Adjust the width as needed */
  background-color: #ffffff; 
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); Box shadow */
  padding: 12px 16px;
  color: black;
  z-index: 1;
}
.dropdown-content-l {
  display: none;
  position: absolute;
  right: -400px; /* Position the dropdown to the right */
  top: 100%; /* Position it just below the parent */
  min-width: 600px; /* Adjust the width as needed */
  background-color: #ffffff;
  
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); Box shadow */
  padding: 12px 16px;
  z-index: 1;

}
.dropdown:hover .dropdown-content {
  display: block; /* Display the dropdown when hovered */
}

.dropdown-l:hover .dropdown-content-l {
  display: block; /* Display the dropdown when hovered */
}
/* Additional styles for menu items */
.dropdown-content a {
  color: black; /* Text color */
  text-decoration: none; /* Remove underline */
  display: block; /* Make each item a block */
 
}

.dropdown-content a:hover {
  color: black;
}
 </style>
<script>
                    


    const toggleButton = document.getElementById('toggleTab');
  const tabContent = document.getElementById('tabContent');


  toggleButton.addEventListener('click', function() {
    tabContent.classList.toggle('hidden');
  });
  var en_button = document.getElementById('ml')
  en_button.onclick = function () {
    // change language
    let link = location.href;
    link = link.replace('/en','/ml')
    location.assign(link)
  }
    var en_button = document.getElementById('en')
  en_button.onclick = function () {
    // change language
    let link = location.href;
    link = link.replace('/ml','/en')
    location.assign(link)

  }

  var menu = document.getElementById('menumain')
  menu.addEventListener('click', function() {
    
    console.log(menu.textContent)
    
  })  
</script>