<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body >
  <header class="sticky top-0 z-50">
    {{ partial "header.html" . }}
  </header>
  <main class="relative" style="margin-left: 2rem; margin-right: 2rem;">
    {{ block "main" . }}{{ end }}
  </main>
  <footer style="margin-left: 0px;margin-right: 10px;">
    {{ partial "footer.html" . }}
  </footer>
  {{ partial "head/js.html" . }}
</body>
</html>
