{{ define "main" }}
<div class="my-20 md:m-20">

   
    <h1 class="text-5xl my-5 ">{{i18n "smc-about-heading"}}</h1>

    <div class="my-10">
        <h2>{{i18n "smc-desc"}}</h2>
        <h2>{{i18n "smc-about-text-para-1"}}</h2>

        <h2>{{i18n "smc-about-text-para-2"}}</h2>

        <h2>{{i18n "smc-about-text-para-3"}}</h2>
    </div>
    
</div>


{{ end }}
