{{ define "main" }}
<div class="my-20">
  <h1 class=" text-5xl my-5">{{i18n "menu-blog"}}</h1>
 
  <div id="data-container"></div>

  <script>
    // Fetch data from an API endpoint
    fetch('https://blog.smc.org.in/ghost/api/v3/content/posts/?key=0b33c5e372d8ee78a8bd842ad0&include=tags,authors&limit=50')
      .then(response => response.json())
      .then(data => {
        data_posts = data.posts
        console.log(data_posts)
        // Process and display the fetched data
        const container = document.getElementById('data-container');
        data_posts.forEach(item => {
        const options = { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' };
        const date = new Date(item.created_at);
        // Get the abbreviated weekday and month
          const formattedDate = date.toLocaleDateString('en-US', options).replace(/,/g, ''); ;
          const element = document.createElement('div');
          element.classList.add("container");
          text = item.excerpt.replace(/\[.*?\]/g, ''); 
          element.innerHTML = `
          
        <div class="each">
            <a class="flex" href="${item.url}">
              <div class="cent left">
                <img src="${item.feature_image}" onerror="replaceImage(this)" alt="/images/favicon.svg">
              </div>
              <div class="right">
              <h3 class="mar title">
              ${item.title}
              </h3>
              <div class="dat mar">
              ${formattedDate}
              </div>
              <p class="mar sum">
              ${text}
              </p>
              </div>
            </a>
        </div>
        `;
          container.appendChild(element);
        });
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
      function replaceImage(img) {
    img.onerror = null; // Remove the onerror handler to prevent an infinite loop

    // Replace with an alternative image
    img.src = "/images/favicon.svg";
    img.alt = "Alternative Image Description";
  }
  </script>
  <style>
    .container{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .each{
      margin: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .cent{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      max-height: 200px;
      
      
    }
    .each img{
      
      margin: 1rem;
      width: 95%;

    }
    .each:hover{
      background-color: rgb(223, 223, 223);

    }
    .mar{
      padding-left: 1rem;
      padding-top: 0.5rem;
    }
    .dat {
      color: grey;
      font-family: 'Courier New', Courier, monospace;

    }
    .title{
      font-size: large;
      margin-top: 0.5rem;
    }
    .sum{
      text-wrap: wrap;
      font-size: small;
    }
  @media screen and (min-width: 1000px) {
  .each a{
    display: flex;
    flex-direction:row;
    align-items: center;
  }
  .left,.right{
    flex:1;
  }
  
}
@media screen and (min-width: 1200px) {
  
  #data-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  
}

  .each{
    padding: 10px;
    min-height: 23rem;
    max-height: 23rem;
    overflow: hidden;
  }
  
}
  </style>
</div>
{{ end }}
