{{ define "main" }}
<div class="md:container p-5 mx-auto">
    {{ i18n "typefaces" }}
    {{ $sideLayout := false }}
    {{ range $index, $item := .Pages }}
        {{ $fontPageUrl := print "/fonts/" (strings.ToLower .Params.name) }}
        <div class="my-6 p-5 bg-gray-100">
            <div class="flex place-content-between">
                <a href="{{ relLangURL $fontPageUrl }}" class="outline-none">
                    <div>
                        <b class="text-lg">{{ .Params.name }}</b>
                        {{ if .Params.variableFont }}
                            <span class="mx-8">{{ i18n "styles-many" }}</span>
                        {{ else }}
                            <span class="mx-8">{{ len .Params.fontWeights }} Style</span>
                        {{ end }}
                    </div>
                    <div>
                        <a href="{{ relLangURL $fontPageUrl }}">Details -></a>
                    </div>
                </a>
            </div>
            <div class="flex space-x-12 p-4" style="font-family: {{ .Params.name }};">
                {{ if eq (mod $index 2) 0 }}
                    <div class="text-4xl">ഒരൊറ്റമതമുണ്ടുലകിന്നുയിരാം പ്രേമമതൊന്നല്ലോ പരക്കെ നമ്മെ പാലമൃതൂട്ടും പാർവണശശിബിംബം.</div>
                {{ end }}
                <div>കേരളത്തിലെ ഒരു പ്രധാനപ്പെട്ട നഗരമാണ്‌ കൊച്ചി. കേരളത്തിലെ ഏറ്റവും വലിയ നഗര സമൂഹമായ (urban agglomeration) കൊച്ചി നഗര സമൂഹത്തിന്റെ ഭാഗവും പ്രധാന തുറമുഖ നഗരങ്ങളിലൊന്നുമാണ്‌ 'അറബിക്കടലിന്റെ റാണി' എന്നറിയപ്പെടുന്ന കൊച്ചി. കോർപ്പറേഷൻ പരിധിയിൽ 677,381 ജനങ്ങളും മെട്രോപ്രദേശ പരിധിയിൽ 21 ലക്ഷത്തിൽ അധികം ജനങ്ങളും വസിക്കുന്ന കൊച്ചിയെ, കേരളത്തിന്റെ വാണിജ്യ, വ്യാവസായിക തലസ്ഥാനം ആയിട്ടാണ് കണക്കാക്കുന്നത്. മദ്ധ്യ കേരളത്തിലെ എറണാകുളം ജില്ലയിലാണ്‌ സ്ഥിതി ചെയ്യുന്നത്‌. കേരളത്തിന്റെ തലസ്ഥാനമായ തിരുവനന്തപുരത്തു നിന്നും 220 കിലോമീറ്റർ വടക്കാണ്‌ കൊച്ചിയുടെ സ്ഥാനം.</div>
            </div>
        </div>
        <link href="/fonts/{{ strings.ToLower (.Params.name) }}.css" rel="stylesheet" />
    {{ end }}
</div>
{{ end }}