{{ define "main" }}
  <link href="/fonts/{{ strings.ToLower (.Params.name) }}.css" rel="stylesheet" />
  <div class="container flex-col space-y-12" style="font-family: '{{ .Params.name }}', sans-serif;">
    <div class="md:flex md:space-x-24 content-between mt-12 justify-center">
      <div>
        <h1 class="text-4xl my-12">{{ .Params.name }}</h1>
        <div class="flex space-x-4">
          <a href="/downloads/fonts/{{ print (strings.ToLower .Params.name) "/" (strings.ToLower .Params.name) ".zip" }}" class="btn">Download</a>
          <a href="https://gitlab.com/smc/fonts/{{ print (strings.ToLower .Params.name) }}" class="btn secondary" target="_blank">Source Code</a>
        </div>
        <div class="border-t-2 border-black p-2 mt-8">
          {{ i18n "font-by" (dict "author" .Params.author) }}
        </div>
      </div>
      <div class="flex flex-col md:flex-row md:space-x-4">
        <div class="bg-yellow-400 py-32 px-6 md:w-96 text-3xl flex-col space-y-4 justify-center items-center">
          <div style="font-weight: lighter;">കടം വീട്ടാൻ പലതും ബാക്കിയിരിക്കെ</div>
          <div style="font-weight: normal;">ആചാര്യനായാലും പിതാമഹാനായാലും</div>
          <div style="font-weight: bold;">ഭീമന് ജയിച്ചേ പറ്റൂ...</div>
        </div>
        <div class="bg-red-400 text-white py-32 px-6 md:w-96 text-xl">
          ആര് ആരെ ആദ്യം വീഴ്ത്തുന്നു എന്നതായിരുന്നു കാര്യം. വധത്തിന്‍റെ ന്യായവും അന്യായവും ക്ഷത്രിയര്‍ അന്വേഷിക്കേണ്ടതില്ല. യുദ്ധത്തില്‍ കൊല്ലുന്നത് ധര്‍മ്മം. മരിച്ചാലും പുണ്യം. ആദ്യത്തെ കൊലയുടെ ചോരപ്പാടുകള്‍ കഴുകി തനിയെ നിന്നപ്പോള്‍ ജേതാവിന്‍റെ അഹങ്കാരമായിരുന്നില്ല മനസ്സില്‍. വ്യക്തമല്ലാത്ത ഒരസ്വസ്ഥത അത്തിക്കായ്ക്കകത്തെ മക്ഷിക പോലെ മനസ്സില്‍ ഇഴഞ്ഞു നടന്നു.
        </div>
      </div>
    </div>
    <div class="flex flex-col space-y-2 justify-evenly md:flex-row md:justify-around md:space-y-0">
      <a class="btn secondary" href="#preview">{{ i18n "preview" }}</a>
      <a class="btn secondary" href="#weight-styles">{{ i18n "weight-styles" }}</a>
      <a class="btn secondary cursor-not-allowed">{{ i18n "features" }}</a>
      <a class="btn secondary" href="#web-embed">{{ i18n "web-embed" }}</a>
      <a class="btn secondary" href="#source-license">{{ i18n "source-license" }}</a>
      <div id="preview"></div> <!-- Putting this here to get a good margin at top -->
    </div>
    <div class="flex-col p-8 space-y-16 bg-white">
      <div class="flex flex-col space-y-8 md:flex-row md:space-x-8">
        <div class="flex-col md:w-3/12 justify-normal">
          <h2 class="text-2xl mb-4">{{ i18n "preview" }}</h2>
          <div class="flex-col">
            <span>Font size = <span class="range-value"></span></span>
            <input type="range" id="font-size-input" min="5" max="50" value="22" />
          </div>
          <div class="flex-col">
            <span>Font weight = <span class="range-value"></span></span>
            {{ if .Params.variableFont }}
              <input type="range" id="font-weight-input" min="100" max="900" value="400" step="1" />
            {{ else }}
              <input type="range" id="font-weight-input" min="{{ math.Min .Params.fontWeights }}" max="{{ math.Max .Params.fontWeights }}" value="{{ math.Min .Params.fontWeights }}" step="300" />
            {{ end }}
          </div>
          {{ if .Params.variableFont }}
            {{ range .Params.variables }}
              <div class="flex-col">
                <span>{{ .label }} = <span class="range-value"></span></span>
                <input type="range" class="font-variable" propName="{{ .propName }}" min="{{ .min }}" max="{{ .max }}" value="{{ .default }}" step="{{ .step }}" />
              </div>
            {{ end }}
          {{ end }}
        </div>
        <div class="md:w-9/12">
          <p id="preview-text" contenteditable="true" class="break-words">പിറന്നാൾ പല രീതിയിൽ ആഘോഷിക്കുന്നു. സമ്മാനം നൽകുന്നതും ആളുകൾ ഒത്തുകൂടുന്നതുമെല്ലാം പിറന്നാളാഘോഷത്തിലെ പരമ്പരാഗത രീതികളാണ്. ഒരു വ്യക്തിക്ക് എത്ര പ്രായമായെന്ന് അറിയിക്കുന്നതിനായാണ് പിറന്നാൾ ആഘോഷിക്കുന്നത്. സാധാരണയായി ഒരു വ്യക്തിയുടെ മരണത്തോടെ പിറന്നാളാഘോഷങ്ങൾ നിർത്തുന്നു. പക്ഷേ ചില പ്രശസ്ത വ്യക്തികളുടെ കാര്യത്തിൽ ഈ രീതിയിൽ മാറ്റം വരുത്തുന്നുണ്ട്. ഉദാഹരണത്തിന്, ഷേക്സ്‌പിയർ തന്റെ അമ്പത്തിരണ്ടാം വയസ്സിൽ അന്തരിച്ചെങ്കിലും അദ്ദേഹത്തിന്റെ ഓർമ്മക്കായി അദ്ദേഹത്തിന്റെ പിറന്നാളുകൾ ആഘോഷിച്ചുപോരുന്നു.</p>
        </div>
        <div id="weight-styles"></div> <!-- Putting this here to get a good margin at top -->
      </div>
      <div class="flex flex-col space-y-8 md:flex-row md:space-x-8">
        <div class="flex-col space-y-2 md:w-3/12 justify-normal">
          <h2 class="text-2xl">{{ i18n "weight-styles" }}</h2>
          <div>
            {{ if .Params.variableFont }}
              {{ i18n "styles-many" }}
            {{ else }}
              {{ i18n "weights" (len .Params.fontWeights) }}
            {{ end }}
          </div>
        </div>
        <div class="flex flex-col space-y-8 text-center md:flex-row md:space-y-0 md:w-9/12 text-5xl justify-around">
          {{ range .Params.fontWeights }}
            <div style="font-weight: {{ . }}">ഈ മിഴി</div>
          {{ end }}
        </div>
        <div id="web-embed"></div> <!-- Putting this here to get a good margin at top -->
      </div>
      <div class="flex-col space-y-6">
        <h2 class="text-2xl">{{ i18n "web-embed" }}</h2>
        <p>
          {{ i18n "web-embed-description" (dict "name" .Params.name) }}
          <pre class="mx-8"><code class="whitespace-pre-wrap">@import url('https://smc.org.in/fonts/{{ strings.ToLower .Params.name }}.css');<br/>html { font-family: '{{ .Params.name }}', sans-serif; }</code></pre>
        </p>
        {{- if .Params.availableOnGoogleFonts }}
          <p>
            {{ i18n "web-embed-google-fonts" (dict "name" .Params.name) | markdownify }}
          </p>
        {{- end }}
        <div id="source-license"></div> <!-- Putting this here to get a good margin at top -->
      </div>
      <div class="flex-col space-y-6">
        <h2 class="text-2xl">{{ i18n "source-license" }}</h2>
        <p>
          {{ i18n "licensed-under" (dict "name" .Params.name "license" .Params.license) | markdownify }}
        </p>
        <p>
          {{ i18n "source-link" (dict "name" .Params.name "repoUrl" .Params.repoUrl) | markdownify }}
        </p>
      </div>
      <div class="markdown-body">
        {{ .Content }}
      </div>
    </div>
  </div>

  {{- with resources.Get "js/font-preview.js" }}
    {{- if eq hugo.Environment "development" }}
      {{- with . | js.Build }}
        <script src="{{ .RelPermalink }}"></script>
      {{- end }}
    {{- else }}
      {{- $opts := dict "minify" true }}
      {{- with . | js.Build $opts | fingerprint }}
        <script src="{{ .RelPermalink }}" integrity="{{- .Data.Integrity }}" crossorigin="anonymous"></script>
      {{- end }}
    {{- end }}
  {{- end }}

{{ end }}
