{{ define "main" }}
<div class="mx-10" style="margin-top: 50px;">
    
<ul>
    
    <li class="hover:underline"><a href="https://blog.smc.org.in/">{{i18n "menu-blog"}}</a></li>
    <li class="hover:underline"><a href="https://wiki.smc.org.in/">{{i18n "wiki"}}</a></li>
    <li class="hover:underline"><a href="http://libindic.org/">{{i18n "libindic"}}</a></li>
    <li class="hover:underline"><a href="https://indicproject.org/">{{i18n "indic-project" }}</a></li>
    <li class="hover:underline"><a href="/en/fonts/">{{i18n "menu-fonts"}}</a></li>
    <li class="hover:underline"><a href="https://gitlab.com/smc">{{ i18n "github-repo" }}</a></li>
    <li class="hover:underline"><a href="lists.smc.org.in/listinfo.cgi/discuss-smc.org.in">{{ i18n "mail" }}</a></li>
    <li class="hover:underline"><a href="https://webchat.freenode.net/?randomnick=0&channels=smc-project">IRC: ഫ്രീനോഡിലെ #smc-project</a></li>
    <li class="hover:underline"><a href="https://matrix.to/#/#smc-project:matrix.org">മാട്രിക്സ്: #smc-project:matrix.org</a></li>
    <li class="hover:underline"><a href="https://t.me/smc_project">ടെലഗ്രാം: @smc_project</a></li>
    <li class="hover:underline"><a href="http://dhvani.sourceforge.net/">ധ്വനി</a></li>
    <li class="hover:underline"><a href="http://grandham.in/">മലയാള ഗ്രന്ഥവിവരം</a></li>
    <li class="hover:underline"><a href="/en/code-of-conduct">പെരുമാറ്റച്ചട്ടം</a></li>


</ul>  
<style>
    li{
        list-style-type:circle;
    }
</style>
</div>
{{ end }}
