{{ define "main" }}
<div class="my-10 ">
  <h1 class="text-5xl my-5 mx-10">{{i18n "menu-projects"}}</h1>

                 
  {{ $sections := slice "Input tools" "Fonts & Script" "Machine translation & Spelling checker" "Malayalam Linguistics" "Corpus and data collections" "Accessibility" "Web" "Web Extensions" "Mobile" "Programming Libraries" }}

  {{ range $sections }}
  <h1 class="text-3xl text-center font-bold my-5 "><br>{{ . }} <br> </h1>
  {{ $section := . }}
  

  <div class="grid gap-4 xl:grid-cols-2 grid-cols-1">
    {{ range where $.Site.Pages "Params.val" . }}
    {{ $var2 := "none" }}


    <div class="w-full flex flex-col md:flex-row m-2 bg-white shadow-lg h-full border-2 items-center" >

      {{ if not (eq .Params.img $var2) }}
      <div class="flex justify-center items-center w-full h-full bg-black object-cover" >
        <img class="md:w-full p-12" src="{{.Params.img }}"  alt="ind">
         
      </div>
        {{ end }}
      
      <div class="w-full flex flex-col  flex-wrap items-center content-center">
        <p class="text-2xl p-5 font-bold">{{ .Title }}</p>
        
        
        {{ if not (eq .Params.img $var2) }}
      <div class="text-lg w-full md:w-96 px-5 ">
        {{ if not (eq .Params.summary $var2) }}
              <p class="text-lg text-slate-500">{{ .Params.summary }} </p>
              
          {{end}}
          <br>
          {{ .Content }}

        </div>
         
      {{ else }}
      <div class="text-lg  px-5">
        {{ if not (eq .Params.summary $var2) }}
              <p class="text-lg text-slate-500">{{ .Params.summary }} </p>
              
          {{end}}
          <br>
        {{ .Content }}
        
      </div>

        {{ end }}
        <div  class="flex justify-center px-5 flex-col sm:flex-row text-center">
              {{ if not (eq .Params.firefox $var2) }}
                <div style="cursor: pointer;" class="btn-hover">
                  <a class="btn-in mx-2" href="{{ .Params.firefox}}">Firefox</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.chrome $var2) }}
                <div style="cursor: pointer;" class="btn-hover">
                  <a class="btn-in mx-2" href="{{ .Params.chrome}}">Chrome</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.tools $var2) }} 
                <div style="cursor: pointer;" class="btn-hover ">
                  <a class="btn-in mx-2" href="{{ .Params.tools}}">Tools</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.use $var2) }}
                <div style="cursor: pointer;" class="btn-hover">
                  <a class="btn-in mx-2" href="{{ .Params.use}}">Use</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.source $var2) }}
                <div style="cursor: pointer;" class="btn-hover">
                  <a class="btn-in mx-2" href="{{ .Params.source}}">Source</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.details $var2) }}
                <div style="cursor: pointer;" class="btn-hover">
                  <a class="btn-in mx-2" href="{{ .Params.details }}">Details</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.howto $var2) }}
                <div style="cursor: pointer;" class="btn-hover">
                  <a class="btn-in mx-2" href="{{ .Params.howto }}">How</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.doc $var2) }}
                <div style="cursor: pointer;" class="btn-hover">
                  <a class="btn-in mx-2" href="{{ .Params.doc }}">Documentation</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.fdroid $var2) }}
                <div style="cursor: pointer;" class="btn-hover">
                  <a class="btn-in mx-2" href="{{ .Params.fdroid }}">fdroid</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.playstore $var2) }}
                <div style="cursor: pointer;" class="btn-hover">
                  <a class="btn-in mx-2" href="{{ .Params.playstore }}">PlayStore</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.download $var2) }}
                <div style="cursor: pointer;" class="btn-hover">
                  <a class="btn-in mx-2" href="{{ .Params.download }}">Download</a>
                </div>
              {{ end }}
              
              
              
        </div>
      </div>
      
    </div>
    {{ end }}
  </div>


  {{ end}}

</div>
{{ end }}