<!-- {{ define "main" }}
<div class="" style="margin-top: 50px;">
    
        
  <div class="w-full flex flex-col lg:flex-row justify-center items-center" style="margin-bottom: 50px">

    <div class="md:mx-5 md:align-center" style="margin-bottom: 20px;margin-left: 50px;margin-right: 50px;">
      <img src="/images/logo.png" alt="Your Image" style="height: 200px; " />
    </div>
    <div class="">
    
      <div class="text-center ">
        <div class="text-5xl leading-normal">
          {{ i18n "smc" }}
        </div>
        <div class="my-5 text-2xl font-bold">
          എന്റെ കമ്പ്യൂട്ടറിനു് എന്റെ ഭാഷ 
        </div>
        <div class="hidden md:block ">
          <button class=" bg-white shadow-lg h-12 border  hover:border-cyan-500 transition duration-300 uppercase w-full md:w-1/5" >
            <a href="/en/projects" >
              
              {{ i18n "menu-projects" }}
            </a>
            <i style="margin-left: 5px;" class="hover:animate-pulse fa-solid fa-arrow-right"></i>
          </button>
          <button class="bg-cyan-500   shadow-lg h-12 border  hover:border-cyan-500 transition duration-300 uppercase w-full md:w-1/5">
            <a href="/en/fonts" >
              
              {{ i18n "menu-fonts" }}
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div  id="nav-tabs" >
    <div class="flex flex-wrap justify-center "  > 
      <button class=" my-5 bg-white  shadow-lg h-10 border  hover:border-cyan-500 transition duration-300  w-full md:w-1/4" >
        <a href="https://gitlab.com/smc" >
          <i class="fa-solid fa-code"></i>
          
          {{ i18n "sourcecode" }}
        </a>
      </button>

      <button class=" my-5 bg-white  shadow-lg h-10 border  hover:border-cyan-500 transition duration-300 uppercase w-full md:w-1/5"  >
        <a href="https://wiki.smc.org.in/" >
          <i class="fa-solid fa-book"></i>
          
          {{ i18n "wiki" }}
        </a>
      </button>

      <button class=" my-5 bg-white  shadow-lg h-10 border  hover:border-cyan-500 transition duration-300 uppercase w-full md:w-1/5" >
        <a href="https://community.smc.org.in/" >
          <i class="fa-regular fa-comments"></i>
          
          {{ i18n "discussions" }}
        </a>
      </button>

      <button class=" my-5 bg-white  shadow-lg h-10 border  hover:border-cyan-500 transition duration-300 uppercase w-full md:w-1/5" >
        <a href="https://t.me/smc_project" >
          <i class="fa-brands fa-telegram"></i>
          
          {{ i18n "telegram" }}
        </a>
      </button>
      
    </div>
  </div>

  <div class="flex flex-wrap justify-center">
  <p class="text-xl w-full lg:w-3/4  text-center m-7">
    {{ i18n "smc-desc" }}
  </p>
  </div>

      
</div>
{{ end }} -->
