{{ define "main" }}
<div class="my-20 md:m-20">
  <h1 class="text-5xl my-5">{{i18n "menu-articles"}}</h1>
  {{ .Content }}
<!-- 
  <form class="flex items-center my-5 e">   
    <label for="simple-search" class="sr-only">Search</label>
    <div class="relative w-full">
      <input type="text" id="searchbar" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg block w-full ps-10 p-2.5 hover:border-cyan-500 focus:outline-none" placeholder="Search.." onkeyup="search_article()">
    </div>
  </form> -->

  <ul id="article-list">
    {{ range .Pages }}
      <li class="article-item md:mx-20 px-3 hover:bg-gray-100 flex">
        <div class="text-gray-500 my-2 left">
          <i class="fa-solid fa-file "></i>
        </div>
        <div class="right my-2 px-3 items-center">
          <a class="text-black-700" href="{{ .Permalink }}">
            {{ .Title}}
            <div class="text-slate-700">{{ .Params.author }}</div>
          </a>
        </div>
      </li>
    {{ end }}
  </ul>
</div>


{{ end }}
