{{ define "main" }}
  <div class="article mt-16 md:m-16">
    <h1  class="text-5xl" >{{ .Title }}</h1>
    <h3 class="my-5">{{ .Params.author}}</h3>
    <hr>
    <div class="markdown-body">
      {{ .Content }}
    </div>
  </div>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
