
{{ define "main" }}
<div class="my-10 ">
  <h1 class="text-5xl my-5 mx-10">{{i18n "menu-research"}}</h1>

                 
  {{ $sections := slice "Published Papers" "Malayalam Computational Linguistics"  }}

  {{ range $sections }}
  <h1 class="text-3xl text-center font-bold my-5 "><br>{{ . }} <br> </h1>
  {{ $section := . }}
  

  <div class="grid gap-4 xl:grid-cols-2 grid-cols-1">
    {{ range where $.Site.Pages "Params.val" . }}
    {{ $var2 := "none" }}


    <div class="w-full flex flex-col md:flex-row m-2 bg-white shadow-lg h-full border-2 items-center text-wrap" >

     
      
      <div class="w-full flex flex-col  flex-wrap text-wrap ">
        <p class="text-2xl p-5 font-bold text-wrap">{{ .Title }}</p>
        
        
        <div  class="flex justify-center px-5 flex-col text-wrap">
          <p class="text-lg pb-3">{{ .Params.author }}</p>
          
          <div class="markdown-body text-wrap">{{.Content}}</div>
          <div  class="flex flex-col sm:flex-row text-center justify-end px-5">

              {{ if not (eq .Params.link $var2) }}
                <div style="cursor: pointer;" class="btn-hover ">
                  <a class="btn-in" href="{{ .Params.link }}">Read the Paper</a>
                </div>
              {{ end }}

              {{ if not (eq .Params.code $var2) }}
                <div style="cursor: pointer;" class="btn-hover ">
                  <a class="btn-in" href="{{ .Params.code }}">CODE</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.mlphon $var2) }}
                <div style="cursor: pointer;" class="btn-hover ">
                  <a class="btn-in" href="{{ .Params.mlphon }}">MLPHON</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.blog $var2) }}
                <div style="cursor: pointer;" class="btn-hover ">
                  <a class="btn-in" href="{{ .Params.blog }}">Read the Blog</a>
                </div>
              {{ end }}
              {{ if not (eq .Params.read $var2) }}
              <div style="cursor: pointer;" class="btn-hover ">
                <a class="btn-in" href="{{ .Params.read }}">Read</a>
              </div>
            {{ end }}
            {{ if not (eq .Params.analyse $var2) }}
            <div style="cursor: pointer;" class="btn-hover ">
              <a class="btn-in" href="{{ .Params.analyse }}">Malayalam Phonetic Analyser</a>
            </div>
          {{ end }}
          </div>
              
              
              
        </div>
      </div>
      
    </div>
    {{ end }}
  </div>


  {{ end}}

</div>
{{ end }}